<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Офис</title>
    {% extends "base.html" %}
    {% load static %}
    <link rel = "stylesheet" type="text/css" href="{% static 'css/show_info.css' %}"/>
</head>
<body>
{% block content %}
    <div class = "container">
        <div class="mx-auto d-grid gap-2" style = "margin-top: 45vh; width: 500px">
           {% for office in office %}
               <a href="{% url 'employee_ofOffice' office.name_office %}" class="btn btn-primary" type="button">{{ office.name_office }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
</body>
</html>