<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация сотрудника</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_form_style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="login-page">
            <div class="form">
                <form class="login-form" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Имя" name="name">
                    <input type="text" placeholder="Фамилия" name="surname">
                    <input type="number" placeholder="Номер команды" name="team">
                    <input type="date" placeholder="День рождения" name="birth_date">
                    <span>{{ error }}</span>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <p class="message">Заполните данные о себе</p>
                </form>
            </div>
        </div>
    </header>
</body>
</html>